{
  "Fakturowanie": [
    {
      "Name": "Subiekt",
      "Versions": [
        {
          "TagName": "PrzyjaznaFakturaModule-F-Subiekt-17_12_1",
          "Url": "https://github.com/PrzyjaznaFaktura/PrzyjaznaFakturaVersionBETA/releases/download/PrzyjaznaFakturaModule-F-Subiekt-17_12_1/PrzyjaznaFakturaModule-F-Subiekt-17_12_1.zip"
        }
      ]
    }
  ],
  "Import": [],
  "Ksiegowanie": []
}