{
  "Fakturowanie": [],
  "Import": [],
  "Ksiegowanie": [
    {
      "Name": "Optima",
      "FriendlyName": "",
      "Versions": [
        {
          "TagName": "PrzyjaznaFakturaModule-O-Optima-18_1_13",
          "Url": "https://github.com/PrzyjaznaFaktura/PrzyjaznaFakturaVersionBETA/releases/download/PrzyjaznaFakturaModule-O-Optima-18_1_13/PrzyjaznaFakturaModule-O-Optima-18_1_13.zip"
        }
      ]
    },
    {
      "Name": "Rachmistrz",
      "FriendlyName": "",
      "Versions": [
        {
          "TagName": "PrzyjaznaFakturaModule-O-Rachmistrz-18_3_1",
          "Url": "https://github.com/PrzyjaznaFaktura/PrzyjaznaFakturaVersionBETA/releases/download/PrzyjaznaFakturaModule-O-Rachmistrz-18_3_1/PrzyjaznaFakturaModule-O-Rachmistrz-18_3_1.zip"
        }
      ]
    }
  ]
}
