{
  "Fakturowanie": [
    {
      "Name": "SubiektGT",
      "FriendlyName": "",
      "Versions": [
        {
          "TagName": "PrzyjaznaFakturaModule-F-SubiektGT-18_4_10",
          "Url": "https://github.com/PrzyjaznaFaktura/PrzyjaznaFakturaVersionBETA/releases/download/PrzyjaznaFakturaModule-F-SubiektGT-18_4_10/PrzyjaznaFakturaModule-F-SubiektGT-18_4_10.zip"
        }
      ]
    },
    {
      "Name": "SubiektNexo",
      "FriendlyName": "",
      "Versions": [
        {
          "TagName": "PrzyjaznaFakturaModule-F-SubiektNexo-18_6_1",
          "Url": "https://github.com/PrzyjaznaFaktura/PrzyjaznaFakturaVersionBETA/releases/download/PrzyjaznaFakturaModule-F-SubiektNexo-18_6_1/PrzyjaznaFakturaModule-F-SubiektNexo-18_6_1.zip"
        }
      ]
    }
  ],
  "Import": [],
  "Ksiegowanie": [
    {
      "Name": "Optima",
      "FriendlyName": "",
      "Versions": [
        {
          "TagName": "PrzyjaznaFakturaModule-O-Optima-18_1_13",
          "Url": "https://github.com/PrzyjaznaFaktura/PrzyjaznaFakturaVersionBETA/releases/download/PrzyjaznaFakturaModule-O-Optima-18_1_13/PrzyjaznaFakturaModule-O-Optima-18_1_13.zip"
        }
      ]
    },
    {
      "Name": "Rachmistrz",
      "FriendlyName": "",
      "Versions": [
        {
          "TagName": "PrzyjaznaFakturaModule-O-Rachmistrz-18_3_1",
          "Url": "https://github.com/PrzyjaznaFaktura/PrzyjaznaFakturaVersionBETA/releases/download/PrzyjaznaFakturaModule-O-Rachmistrz-18_3_1/PrzyjaznaFakturaModule-O-Rachmistrz-18_3_1.zip"
        }
      ]
    }
  ]
}